---
title: 源代码 - 为人类服务
permalink: /
context: home
---

{% include header.html %}

<section id="hero-future">
    <div class="text">
        <h1>用技术创造艺术</h1>
    </div>
</section>

<section class="home-intro">
    <div class="service-intro">
        <h2>一站式网络技术服务中心</h2>
        <p>世界级的技术开发团队<br class="br-xs">致力于为客户提供最优秀的产品和最专业的服务<br>成为您网络业务拓展道路上的最佳技术合作伙伴</p>

        <a class="more" href="https://shop461513088.taobao.com/category-1366992181.htm" target="_blank"><span>选择您需要的服务</span></a>
    </div>

</section>

<section class="home-honor">
    <div class="container">
        <div class="as-providers">
            <div class="item">
                <img src="../assets/images/logos/aliyun.png">
                <h4>阿里云云市场推荐服务商</h4>
            </div>

            <div class="item">
                <img src="../assets/images/logos/envato-colored.svg">
                <h4>Envato市场认证的精英开发商</h4>
            </div>

            <div class="item">
                <img src="../assets/images/logos/wordpress.png">
                <h4>WordPress官方推荐的开发服务商</h4>
            </div>
        </div>
    </div>
</section>

<section id="hero-robots">
    <div class="text">
        <h1>为人<span class="typer" id="some" data-words="类,民币" data-colors="white" data-delay="100" data-deleteDelay="1000"></span><span class="cursor" data-owner="some"></span>服务</h1>
    </div>
</section>

<section class="home-services">
    <div class="container">
        <div class="row">
            <div class="col col-12 website">
                <i class="icon icon-website"></i>
                <div class="media-body">
                    <h4>网站建设</h4>
                    <p>模板建站/高级定制开发</p>
                </div>
            </div>
            <div class="col col-12 wordpress">
                <i class="icon icon-wordpress"></i>
                <div class="media-body">
                    <h4>WordPress开发</h4>
                    <p>WP主题/插件/网站开发</p>
                </div>
            </div>
            <div class="col col-12 wechat">
                <i class="icon icon-wechat"></i>
                <div class="media-body">
                    <h4>微信开发</h4>
                    <p>微信小程序/公众号开发</p>
                </div>
            </div>
            <div class="col col-12 system">
                <i class="icon icon-system"></i>
                <div class="media-body">
                    <h4>系统开发</h4>
                    <p>跨平台的管理系统开发</p>
                </div>
            </div>
            <div class="col col-12 app">
                <i class="icon icon-app"></i>
                <div class="media-body">
                    <h4>移动应用</h4>
                    <p>苹果/安卓移动APP应用开发</p>
                </div>
            </div>
            <div class="col col-12 seo">
                <i class="icon icon-seo"></i>
                <div class="media-body">
                    <h4>营销优化</h4>
                    <p>社交媒体营销/搜索引擎优化</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero-map">
    <div class="bg">
        {% include svg-map.html %}
    </div>
    <div class="text">
        <h2>立足西部 面向全国 放眼世界</h2>
    </div>
</section>

<section class="home-contact">
    <div class="container">
        <div class="section-header">
            <h2>联系我们</h2>
            <p>任何时间 任何方式 任何需求</p>
        </div>

        <div class="section-content">

            <div class="g3">
                <div class="col">
                    <a class="item" href="javascript:;">
                        <i class="icon icon-qq"></i>
                        <span><b>QQ</b> 374708558</span>
                    </a>
                </div>
                <div class="col">
                    <div class="item">
                        <i class="icon icon-wechat"></i>
                        <span><b>微信</b> cloudinstone</span>
                    </div>
                </div>
                <div class="col">
                    <a class="item" href="https://shop461513088.taobao.com/" target="_blank">
                        <i class="icon icon-wangwang"></i>
                        <span><b>旺旺</b> scode</span>
                    </a>
                </div>
                <div class="col">
                    <a class="item" href="mailto:hellow@sourcecode.com.cn">
                        <i class="icon icon-email"></i>
                        <span><b>邮箱</b> hello@sourcecode.com.cn</span>
                    </a>
                </div>
                <div class="col">
                    <div class="item">
                        <i class="icon icon-phone"></i>
                        <span><b>电话</b> 0874-3971024/3981024</span>
                    </div>
                </div>
                <div class="col">
                    <a class="item" href="https://j.map.baidu.com/PfmmZ" target="blank">
                        <i class="icon icon-address"></i>
                        <span><b>地址</b> 云南曲靖三江国际车立方C10-310</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
