---
title: 关于 - 源代码
permalink: /about/
context: about page
---

{% include header.html %}

<section class="our-section our-company">

    <div class="container">
        <div class="section-header">
            <h2>我们的公司</h2>
            <p>只不过是一家顶尖的网络科技公司</p>
        </div>

        <div class="section-content">
            <canvas id="matrix"></canvas>

            <div class="text">
                <h2 class="active">专注Web开发<b>11</b>年</h2>

                <h2><b>70+</b>公司的长期外包合作伙伴</h2>

                <h2>服务超过<b>4000+</b>客户</h2>
            </div>
        </div>
    </div>
</section>

<section class="our-section our-team">
    <div class="container">
        <div class="section-header">
            <h2>我们的团队</h2>
            <p>只不过是一群技术高超的动物</p>
        </div>

        <div class="section-content">
            <figure>
                <img src="../assets/images/ic-1.png">
                <figcaption>程序猿</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/ic-2.png">
                <figcaption>设计狮</figcaption>
            </figure>

            <figure>
                <img src="../assets/images/ic-3.png">
                <figcaption>产品狗</figcaption>
            </figure>
        </div>
    </div>
</section>

<section class="our-section our-partners">
    <div class="container">
        <div class="section-header">
            <h2 class="">我们的合作伙伴</h2>
            <p>只不过是世界五百强</p>
        </div>

        <div class="section-content">
            <img src="../assets/images/logos/ampersand.svg">
            <img src="../assets/images/logos/android.svg">
            <img src="../assets/images/logos/angular.svg">
            <img src="../assets/images/logos/apple.svg">
            <img src="../assets/images/logos/atom.svg">
            <img src="../assets/images/logos/bitbucket.svg">
            <img src="../assets/images/logos/bootstrap.svg">
            <img src="../assets/images/logos/dotcloud.svg">
            <img src="../assets/images/logos/dropbox.svg">
            <img src="../assets/images/logos/envato.svg">
            <img src="../assets/images/logos/forever.svg">
            <img src="../assets/images/logos/github.svg">
            <img src="../assets/images/logos/google.svg">
            <img src="../assets/images/logos/intercom.svg">
            <img src="../assets/images/logos/magento.svg">
            <img src="../assets/images/logos/markdown.svg">
            <img src="../assets/images/logos/shopify.svg">
            <img src="../assets/images/logos/slack.svg">
            <img src="../assets/images/logos/sourcetree.svg">
            <img src="../assets/images/logos/stackoverflow.svg">
            <img src="../assets/images/logos/unity.svg">
            <img src="../assets/images/logos/upwork.svg">
            <img src="../assets/images/logos/woocommerce.svg">
            <img src="../assets/images/logos/wordpress.svg">
        </div>
    </div>
</section>

<section class="our-section our-core">
    <div class="container">
        <div class="section-header">
            <h2>我们的核心</h2>
            <p>只不过是一群为人类服务的机器人</p>
        </div>

        <div class="section-content">

            <div class="item marvel active">
                <figure>
                    <figcaption>如果你是<b>神盾局</b> <br>我们就是你的<b>复仇者联盟</b></figcaption>
                    <img src="../assets/images/robot-avengers.jpg">
                </figure>
            </div>

            <div class="item minions">
                <figure>
                    <figcaption>如果你是<b>神偷奶爸</b> <br>我们就是你的<b>小黄人</b></figcaption>
                    <img src="../assets/images/robot-minions.jpg">
                </figure>
            </div>

            <div class="item doraemon">
                <figure>
                    <figcaption>如果你是<b>大雄</b> <br>我们就是你的<b>哆啦A梦</b></figcaption>
                    <img src="../assets/images/robot-doraemon.jpg">

                </figure>
            </div>

            <div class="item walle">
                <figure>
                    <figcaption>如果你是<b>Eva</b> <br>我们就是你的<b>Wall-E</b></figcaption>
                    <img src="../assets/images/robot-walle.jpg">
                </figure>
            </div>
            </figure>
        </div>
</section>

{% include footer.html %}